<div class="text-center bg-[var(--p-primary-400)] text-white py-1 px-3 rounded-lg mt-2">
    <div class="welcometxt font-bold text-[var(--text-color)]">
        {{title}}
    </div>
    <div class="flex items-center gap-4">
        <button class="logoutbtn bg-[var(--p-primary-400)] hover:bg-[var(--p-primary-300)] text-white px-4 py-2 rounded-lg flex items-center gap-2" 
            (click)="navigateHome()">
            <i class="fa fa-home"></i> Home
        </button>
        <b class="sidebar-text text-[var(--text-color-secondary)] flex items-center gap-2">
            <i class="fa fa-user"></i> Welcome {{loggedUser}}
        </b>
        <button class="logoutbtn bg-[var(--p-primary-400)] hover:bg-[var(--p-primary-300)] text-white px-4 py-2 rounded-lg flex items-center gap-2" 
            (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout
        </button>
    </div>
</div>
