<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let data of myenrollments | async">
      <div class="card" style="box-shadow: 2px 2px 15px 8px rgb(147, 158, 147); margin-bottom: 20px;">
        <div class="card-body">
          <h4 class="card-title text-center"><b>{{data.coursename}}</b></h4>
          <h6 class="text-center" style="background-color: darkgoldenrod; color: white; padding: 5px; border-radius: 5px;">
            {{data.courseid}}
          </h6>
          <p><b>Date:</b> {{data.enrolleddate}}</p>
          <p><b>Instructor:</b> {{data.instructorname}}</p>
          <p><b>Type:</b> {{data.coursetype}}</p>
          <p><b>Level:</b> {{data.skilllevel}}</p>
          <p><b>Language:</b> {{data.language}}</p>
          <p class="card-text"><b style="color: darkblue;">{{data.description}}</b></p>
          <a (click)="visitCourse(data.coursename)" class="btn btn-primary btn-block">Visit Course</a>
        </div>
      </div>
    </div>
  </div>
</div>
