<app-header></app-header>

<div *ngIf="currRole === 'user'" class="heading-text text-success">
    <b><i class="fa fa-heart text-danger"></i> User WishList</b>
</div>
<div *ngIf="currRole === 'professor'" class="heading-text text-success">
    <b><i class="fa fa-heart text-danger"></i> Professor WishList</b>
</div>

<!-- Show message if wishlist is empty -->
<div *ngIf="(wishlist | async)?.length === 0" class="text-center text-muted">
    No courses found in your wishlist.
</div>

<div class="row">
    <div *ngFor="let course of wishlist | async; let i = index" class="col-md-4 card" id="bloodCards">
        <div class="img-block">
            <div class="circle">
                <img *ngIf="course.coursetype === 'Youtube'" class="bloodimg" src="assets/img/youtube.png" width="140" height="140">
                <img *ngIf="course.coursetype === 'Website'" class="bloodimg" src="assets/img/website.png" width="140" height="140">
            </div>
        </div>

        <div class="card-block">
            <div class="text">
                <b class="text-danger">Course:</b> {{ course.coursename }}
            </div>
            <div class="text">
                <b class="text-danger">Course ID:</b>
                <small class="badge bg-dark">{{ course.courseid }}</small>
            </div>
            <div class="text">
                <b class="text-danger">Instructor:</b> {{ course.instructorname }}
            </div>
            <div class="text">
                <b class="text-danger">Learners:</b> {{ course.enrolledcount }} enrolled already
            </div>
            <div class="text">
                <b class="text-danger">Type:</b> {{ course.coursetype }} Tutorials
            </div>
            <div class="text">
                <b class="text-danger">Level:</b> {{ course.skilllevel }}
            </div>
            <div class="text">
                <b class="text-danger">Language:</b> {{ course.language }}
            </div>

            <!-- Visit Course Button -->
            <a *ngIf="course.coursetype === 'Youtube'" (click)="visitCourse(course.coursename)" class="btn btn-primary mt-3">
                Visit Course
            </a>
            <a *ngIf="course.coursetype === 'Website'" (click)="openURL(course.websiteurl)" class="btn btn-primary mt-3">
                Visit Course
            </a>
        </div>
    </div>
</div>

<br><br><br>
<app-footer></app-footer>
