<header class="main-header">
  <div class="logo-container">
    <a href="/" class="logo-link">L'EARN</a>
    <a href="/dashboard" class="menu-item">Dashboard</a>
    <a href="/create-test" class="menu-item">Create Quiz</a>
    <a href="/view-results" class="menu-item">View Results</a>
  </div>
</header>


<div class="main">
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let quiz of Quizes" style="margin: 20px;">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5>{{ quiz.title }}</h5>
        </div>
        <div class="card-body">
          <p><strong>Time:</strong> <span class="badge bg-info">{{ getFormattedTime(quiz.time) }} seconds</span></p>
          <p><strong>Description:</strong> {{ quiz.descrption }}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary btn-sm" routerLink="view-quiz/{{quiz.id}}" >View Quiz</button>
            <button class="btn btn-secondary btn-sm" routerLink="/add-question/{{quiz.id}}">Add Question</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  