<div class="offers-container">
  <!-- En-tête de la page -->
  <header class="page-header">
    <h1>Explore the Latest Job Offers</h1>
  </header>

  <!-- Indicateur de chargement -->
  <div *ngIf="isLoading()" class="loading-spinner">
    <p>Loading job offers...</p>
  </div>

  <!-- Liste des offres -->
  <div *ngIf="!isLoading()">
    <!-- Message si aucune offre n'est disponible -->
    <div *ngIf="jobOffers().length === 0" class="no-offers-message">
      <p>No job offers available at the moment.</p>
    </div>

    <!-- Boucle sur les offres -->
    <div *ngFor="let offer of jobOffers()" class="offer-card">
      <h2 class="offer-title">{{ offer.title }}</h2>
      
      <p class="offer-detail">
        <strong>Location:</strong> {{ offer.createdAt }}
      </p>
      <p class="offer-detail">
        <strong>Created At :</strong> {{ offer.createdAt }}
      </p>
      <button class="view-offer-button" (click)="openJobDetails(offer.id)">View Offer</button>
    </div>
  </div>
</div>

<!-- Dialog pour les détails de l'offre -->
<p-dialog
  header="Job Details"
  [(visible)]="displayJobDetails"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [modal]="true"
>
  <!-- Accordion inside the dialog -->
  <p-accordion>
    <p-accordion-panel value="0">
      <p-accordion-header>Job Description</p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          {{ selectedJobDetails?.description || 'No description available.' }}
        </p>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1">
      <p-accordion-header>Requirements</p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          <strong>Required Skills:</strong> {{ selectedJobDetails?.requiredSkills || 'No requirements available.' }}
        </p>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2">
      <p-accordion-header>Additional Information</p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          <strong>Contract Type:</strong> {{ selectedJobDetails?.contractType }}
        </p>
        <p class="m-0">
          <strong>Location:</strong> {{ selectedJobDetails?.location }}
        </p>
        <p class="m-0">
          <strong>Experience Level:</strong> {{ selectedJobDetails?.experienceLevel }}
        </p>
        <p class="m-0">
          <strong>Created At:</strong> {{ selectedJobDetails?.createdAt | date: 'dd/MM/yyyy' }}
        </p>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <ng-template #footer>
    <p-button label="Close" (click)="closeJobDetails()" />
  </ng-template>
</p-dialog>

<!-- Toast pour les notifications -->
<p-toast />